Source: @APAKA_PACKAGE_NAME@
Section: science
Priority: optional
Maintainer: Rock Packaging Daemon (based on apaka) <rock-dev@dfki.de>
Uploaders: Rock Packaging Daemon (based on apaka) <rock-dev@dfki.de>
Build-Depends: debhelper, gem2deb, rake, ruby-rspec, rock-master-22.04-ruby-strings-ansi, ruby-unicode-display-width, ruby-unicode-utils, dh-autoreconf
Standards-Version: 4.5.0
Vcs-Git:
Vcs-Browser:
Homepage: https://github.com/piotrmurach/strings
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all
Rules-Requires-Root: no

Package: rock-master-22.04-ruby-strings
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends}, ${shlibs:Depends}, rock-master-22.04-ruby-strings-ansi, ruby-unicode-utils, ruby-unicode-display-width, ruby
Description: A set of useful functions for transforming strings.
 A set of useful functions such as fold, truncate, wrap and more for transoforming strings.
